body{
    margin:0;
    color:#222;
    background:#f7f7f9;
}

header{
    background:url('graduationPic.jpg') center center/contain no-repeat, rgba(0,0,0,0.3);; /* fallback solid color */; /* fallback solid color */;
    color: #fff;
    position: sticky;
    top:0;
    z-index:999;
    min-height: 400px;
}

nav ul {
    display:flex;
    list-style:none;
    gap: 2rem;
    background: rgba(0,0,0,0.3); /* semi transparent for contrast over image */
}

nav ul li a{
    color:white;
    font-size:1.5rem;
    text-decoration: none;
}

nav ul li.right{
    margin-left:auto; /*pushes moon to the far right */
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom:2px;
}